/*auth styles*/
.auth-page {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}
.auth-card {
  background-color: var(--bg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 40px 40px;
  border-radius: 10px;
  gap: 30px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
p {
  margin: 0;
  margin-top: 10px;
  color: var(--text-primary);
}
h1 {
  margin: 0;
  font-weight: 100;
}
label {
  font-size: 15px;
}
.input input {
  padding-left: 10px;
  height: 35px;
  border-radius: 6px;
  border: var(--border-color);
  font-size: 14px;
}
#login {
  width: 100%;
  background-color: #9370db;
  color: white;
  padding: 10px 0px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-items: center;
  font-weight: 600;
}
