:root {
  --bg: #fff;
  --border-color: 1px solid rgb(211, 211, 211);
  --icon-color: rgb(37, 37, 37);
  --icon-hover: rgba(0, 0, 0, 0.04);
  --text-primary: #22303e;
}
[data-theme="dark"] {
  --bg: #0f1115;
  --border-color: 1px solid #2e2e31;
  --icon-color: rgb(163, 162, 162);
  --icon-hover: rgba(255, 255, 255, 0.06);
  --text-primary: white;
}
#toggle-theme {
  position: absolute;
  right: 30px;
  top: 30px;
}

.form-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  font-size: 16px;
}
.card {
  padding: 20px;
  color: #a0a4ae;
  border: var(--border-color);
  border-radius: 10px;
  background-color: var(-bg);
  min-width: 350px;
}
h1 {
  font-weight: 100;
  color: var(--text-primary);
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 8px;
}
.input-wrapper:last-child {
  margin-bottom: 0;
}
input {
  all: unset;
  width: 100%;
  color: var(--text-primary);
}
.input {
  max-width: 340px;
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: var(--border-color);
  display: flex;
  align-items: center;
  padding-left: 10px;
}
#submit-button {
  width: 100%;
  background-color: #d60000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}
